<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.nadi.zakat">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/logo"
        android:label="Zakat Counter"
        android:roundIcon="@drawable/logo"
        android:supportsRtl="true"
        android:theme="@style/Theme.Zakat">
        <activity android:name=".Maal_RecyclerView">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".zakat_pertanian" />
        <activity android:name=".zakat_maal_umum" />
        <activity android:name=".zakat_perak" />
        <activity android:name=".zakat_emas" />
        <activity android:name=".zakat_perdagangan" />
        <activity android:name=".SignUp" />
        <activity android:name=".Login" />
        <activity android:name=".Emas_RecyclerView" />
        <activity android:name=".hitungzakatprofesi" />
        <activity android:name=".hitungzakatsimpanan" />
        <activity android:name=".hitungzakatrikaz" />
        <activity android:name=".listinputzakatprofesi" />
        <activity android:name=".listinputzakatrikaz" />
        <activity android:name=".listinputzakatsimpanan" />
        <activity android:name=".SplashScreen">

        </activity>
    </application>

</manifest>